@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');

* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px #00000030;
}
a {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    font-weight: bold;
    &:hover {
        color: $pink-accent;
    }
}
.background-img {
    background-image: url("../images/colorgradient-background@05x.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.intro__title {
    font-size: 2rem;
    .span {
        line-height: 1em;
        display: block;
        color: #c0e5fd;
        font-size: 1.2em;

    }
    margin-bottom: 30px;
}

.intro__desc {
    font-size: 2em;
    width: 60%;
}

.cv__button {
    height: 60px;
    width: 110px;
    background: linear-gradient(45deg, #F7C6D899, #bbd8ff99);
    display: flex;
    align-items: center;
    h3 {
        margin: 0 auto;
        font-size: 2.5rem;
    }
}
.navbar{
    margin: 100px 0;
    width: 20%;
    ul{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    li {
        display: block;
        padding-bottom: 5px;
        padding-top: 25px;
    }
    .selected {
        border-bottom: 2px solid $pink-accent;
    }
}

.navbar--main{
    margin-top: 200px;
    width: auto;
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
    
    a {
        font-size: 1.5rem;
        
    }
    
}
.main{
    height: 100%;
}
//#F7C6D8
//#bbd8ff
.info-block {
    text-shadow: 0 0 5px #00000050;
    
    letter-spacing: 1px;
    font-size: 1.5em;
    line-height: 2rem;
    max-width: 600px;
    background: linear-gradient(45deg, #F7C6D899, #bbd8ff99);
    padding: 20px;
    border-radius: 3px;
    a {
        text-transform: unset;
        letter-spacing: 1px;
    }
}
@media (max-width:880px){
    .info-block{
        font-size: 1em ;
    }
}
@media (max-width: 720px) {
    .header{
        display: block;
        padding-top: 10px;
        
    }
    .intro__title{
        text-align: center;
        font-size: 150%;
        margin-bottom: 20px;
        &:after {
            background-color: #c0e5fd;
            height: 2px;
            width: 50px;
        }
    }
    .intro__desc {
        text-align: center;
        margin: 0 auto;
        font-size: 150%;
        width: 100%;
        
    }
    .cv__button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .navbar {
        margin: 50px 0;
        margin-top: 10px;
    }
    .navbar--main{
        margin-top: 90px;
        ul {
            flex-direction: column;
        }
        li {
            margin: 0 auto;
            padding-top: 40px;
        }
    }
    
}